.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features-icon {
  border-radius: 4px;
  background: #f5f4fa;
}

.features-item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.features-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.features-item:not(:last-child) {
  margin-bottom: 30px;
}

.features-list-icon {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: var(--secondary-color-bg);
  border-radius: 4px;
}

// 768px +
@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }

  .features-item {
    flex-basis: calc((100% - 30px) / 2);

    &:not(:last-child) {
      margin-bottom: 0px;
    }

    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }

    &:nth-child(odd) {
      margin-right: 30px;
    }
  }
  //     .features-item:not(:last-child) {
  //   margin-bottom: 30px;
  // }
  .features-item-title {
    text-align: left;
  }
}

//  1200px +
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .features-list {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: calc((100% - 90px) / 4);
  }
  .features-item:nth-child(-n + 2) {
    margin-bottom: 0px;
  }
  .features-item:not(:last-child) {
    margin-right: 30px;
  }
}
// .features {
//     padding-top: 94px;
//     padding-bottom: 94px;
// }

// .features-list {
//     display: flex;
//     flex-basis: calc((100% - 90px) / 4);
// }

// .features-item {
//     width: 270px;
// }

// .features-item-title {
//     margin-bottom: 10px;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     text-transform: uppercase;
//     color: var(--secondary-text-color);
// }

// .features-list-text {
//     line-height: 1.71;
//     color: var(--primary-text-color);
// }

// .features-list-icon {
//     display: flex;
//     width: 270px;
//     height: 120px;
//     justify-content: center;
//     align-items: center;
//     margin-bottom: 30px;
//     background: var(--secondary-color-bg);
//     border-radius: 4px;
// }
