.footer-section {
    background: var(--color-bg);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container {
    display: flex;
    flex-direction: column;
}




.logo-footer {
    color: var(--color-text);
    
}



.footer-address {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.address-link {
    font-style: normal;
    line-height: 1.71;
    color: var(--color-text);
    transition-property: color;
    transition-duration: var(--trans-dur-250ms);
    transition-timing-function: var(--cubic-bezier);

    &:hover,
    &:focus {
        color: var(--primary-color-accent);
    }
}


.address-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.address-contact-link {
    font-style: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    transition-property: color;
    transition-duration: var(--trans-dur-250ms);
    transition-timing-function: var(--cubic-bezier);

    &:hover,
    &:focus {
        color: var(--primary-color-accent);
    }
}


.address-contact-item {
    margin-top: 9px;
}


.footer-social{
justify-content: center;
}



.footer-social-title {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-text);
}

.footer-list-icon {
    display: flex;
    justify-content: center;
}

.footer-list-icon :not(:last-child) {
    margin-right: 10px;
}

.footer-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.footer-link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: var(--trans-dur-250ms);
    transition-timing-function: var(--cubic-bezier);

    &:hover,
    &:focus {
        background-color: var(--primary-color-accent);
    }
}


.footer-icon {
    fill: var(--primary-color-bg);
}






// .address-contact-item {
//     margin-top: 9px;
// }

// .footer-social {
//     margin-right: 93px;
// }



// .footer-section {
//     background: var(--color-bg);
//     padding-top: 60px;
//     padding-bottom: 60px;
// }

// .footer-container {
//     display: flex;
//     align-items: baseline;
// }

// .logo-footer {
//     color: var(--color-text);
// }

// .footer-address {
//     margin-right: 70px;
// }

// .address-list {
//     margin-top: 20px;
// }

// .address-link {
//     font-style: normal;
//     line-height: 1.71;
//     color: var(--color-text);
//     transition-property: color;
//     transition-duration: var(--trans-dur-250ms);
//     transition-timing-function: var(--cubic-bezier);

//     &:hover,
//     &:focus {
//         color: var(--primary-color-accent);
//     }
// }



// .address-contact-link {
//     font-style: normal;
//     line-height: 1.71;
//     color: rgba(255, 255, 255, 0.6);
//     transition-property: color;
//     transition-duration: var(--trans-dur-250ms);
//     transition-timing-function: var(--cubic-bezier);

//     &:hover,
//     &:focus {
//         color: var(--primary-color-accent);
//     }
// }



// .address-contact-item {
//     margin-top: 9px;
// }

// .footer-social {
//     margin-right: 93px;
// }

// .footer-social-title {
//     display: flex;
//     margin-bottom: 20px;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: var(--color-text);
// }

// .footer-list-icon {
//     display: flex;
// }

// .footer-list-icon :not(:last-child) {
//     margin-right: 10px;
// }

// .footer-item-icon {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 44px;
//     height: 44px;
//     background-color: rgba(255, 255, 255, 0.1);
//     border-radius: 50%;
// }

// .footer-link-icon {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 44px;
//     height: 44px;
//     border-radius: 50%;
//     transition-property: background-color;
//     transition-duration: var(--trans-dur-250ms);
//     transition-timing-function: var(--cubic-bezier);

//     &:hover,
//     &:focus {
//         background-color: var(--primary-color-accent);
//     }
// }


// .footer-icon {
//     fill: var(--primary-color-bg);
// }
