.header {
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__border {
  border-bottom: 1px solid #ececec;
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin: 0;
  color: var(--secondary-text-color);
}

.contact-list {
  display: none;
}

.nav-list {
  display: none;
}
.mobail-menu-btn {
  position: absolute;
  right: 10px;
  padding: 0;
  border: none;
  background-color: transparent;
  transition-property: fill;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);

  &:hover,
  &:focus {
    fill: var(--primary-color-accent);
  }
}

.menu-mobile-btn-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  top: 21px;
  right: 25px;
  border: none;
  background-color: transparent;
  fill: var(--secondary-text-color);
  transition-property: fill;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);

  &:hover .menu-mobile-btn-close-icon,
  &:focus .menu-mobile-btn-close-icon {
    fill: var(--primary-color-accent);
  }
}

.menu-mobile {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color-bg);
  transition-property: opacity, visibility, pointer-events;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.menu-mobile__nav {
  display: flex;
  flex-direction: column;
}

.menu-mobile__nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-mobile__nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition-property: color;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);

  &:hover,
  &:focus {
    color: var(--primary-color-accent);
  }
}

.menu-mobile__contact-item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-mobile__contact-list {
  margin-bottom: 64px;
}

.menu-mobile__contact-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--primary-color-accent);
}

.menu-mobile__contact-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);

  &:hover,
  &:focus {
    color: var(--primary-color-accent);
  }
}

.menu-mobile__social-list {
  display: flex;
}

.menu-modile__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--primary-color-accent);
}

.menu-modile__social-link {
  margin-right: 10px;
}

.menu-mobile__social-item:not(:last-child)::after {
  content: "";
  width: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.menu-mobile__social-item:not(:last-child) {
  margin-right: 10px;
}

// .current {
//     position: relative;

//     &::after {
//         content: "";
//         position: absolute;
//         bottom: 0;
//         left: 0;
//         width: 100%;
//         height: 4px;
//         background-color: var(--primary-color-accent);
//         border-radius: 2px;
//     }
// }

// .nav-link {
//     padding-top: 32px;
//     padding-bottom: 32px;
//     font-weight: 500;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     color: var(--secondary-text-color);
//     transition-property: color;
//     transition-duration: var(--trans-dur-250ms);
//     transition-timing-function: var(--cubic-bezier);

//     &:hover,
//     &:focus,
//     &.current {
//         color: var(--primary-color-accent);
//     }
// }

// .nav-item:not(:last-child) {
//     margin-right: 50px;
// }

// .contact-link {
//     align-items: center;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     font-weight: 500;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     color: var(--primary-text-color);
//     transition-property: color;
//     transition-duration: var(--trans-dur-250ms);
//     transition-timing-function: var(--cubic-bezier);

//     &:hover,
//     &:focus {
//         color: var(--primary-color-accent);
//     }
// }

// .contact-item:not(:last-child) {
//     margin-right: 50px;
// }

// .contact-list {
//     display: flex;
// }

// .contact-link {
//     display: flex;
//     text-align: center;
// }

// .contact-link-icon {
//     margin-right: 10px;
//     fill: var(--primary-text-color);
//     transition-property: fill;
//     transition-duration: var(--trans-dur-250ms);
//     transition-timing-function: var(--cubic-bezier);

//     .contact-link:hover &,
//     .contact-link:focus & {
//         fill: var(--primary-color-accent);
//     }
// }
