.team-list {
    display: flex;
    padding-bottom: 94px;
    flex-basis: calc((100% - 90px) / 4);
}

.team-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-color-bg);

    &:not(:last-child) {
        margin-right: 30px;
    }
}



.team-section {
    padding-top: 94px;
    background-color: var(--secondary-color-bg);
}

.team-item-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.team-item-prof {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--primary-text-color);
}

.team-info {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-list-icon {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

.team-link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: var(--trans-dur-250ms);
    transition-timing-function: var(--cubic-bezier);
    fill: var(--primary-color-bg);

    &:hover,
    &:focus {
        background-color: var(--primary-color-accent);
    }
}

.team-icon {
    transition-property: fill;
    transition-duration: var(--trans-dur-250ms);
    transition-timing-function: var(--cubic-bezier);
    fill: var(--primary-color-icon);

    .team-link-icon:hover &,
    .team-link-icon:focus & {
        fill: var(--primary-color-bg);
    }
}



