body {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    font-family: "Roboto", sans-serif;
    background: var(--primary-color-bg);
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    min-height: auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--secondary-text-color);
}