:root {
    --primary-color-accent: #2196f3;
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --color-text: #ffffff;
    --primary-color-bg: #ffffff;
    --secondary-color-bg: #f5f4fa;
    --color-bg: #2f303a;
    --secondary-color-btn: #188ce8;
    --primary-color-icon: #afb1b8;
    --trans-dur-250ms: 250ms;
    --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}